label {
	display: flex;
	justify-content: space-between;
}
form, .omikuji {
	width: 450px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	border: 2px solid black;
}
h1 {
	text-align: center;
}
.blue-background {
	background-color: Aliceblue;
}
.container {
	text-align: center;
}